.body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  min-height: 400px;
}

.container .leftSection {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  background: #abb8c3;
}

.container .leftSection .bannerImage {
  height: 60px;
}

.container .rightSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  /* background: yellow; */
}

.container .rightSection .logo {
  height: 60px;
}
.form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  /* background: yellow; */
}

.form .row {
  margin-bottom: 15px;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.socialDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.divider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}